nav {
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  margin-right: 20px;
}

.nav__link {
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  padding: 8px;
  color: #7342d6;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.nav__list {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link:hover {
  transform: scale(1.1);
  color: #5a2ebc; 
}

.nav__icon {
  font-size: 20px;
  top: -20px;
  transform: translateY(20%);
  border-radius: 50%;
  position: absolute;
  z-index: 101;
  left: 50px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.nav__icon-container {
    width: 100px;
    height: 100px;
}

.nav__links {
  display: flex;
}