nav {
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
}

.nav__link {
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  padding: 8px;
  color: #7342d6;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link:hover {
  transform: scale(1.1);
  color: #5a2ebc; 
}

.nav__icon {
  font-size: 20px;
  top: -20px;
  transform: translate(-50%, 20%);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  z-index: 101;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.nav__icon-container {
    position: relative;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    transition: transform 0.4s ease, width 0.2s ease, opacity 0.4s ease;
  transform: translateY(0);
  opacity: 1;
}

.nav__icon-container.hidden {
  transform: translateY(-150%); 
  opacity: 0;
  width: 0;
  pointer-events: none;
  transition: width 0.6s ease;
}

.nav__links-right {
  display: flex;
  margin-left: 40px;
  justify-content: flex-start;
  gap: 16px;
  flex: 1;
}

.nav__links-left {
  display: flex;
  margin-right: 40px;
  justify-content: flex-end;
  gap: 16px;
  flex: 1;
}